{% comment %} <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <h1>Admin</h1>
    <script src="" async defer></script>
  </body>
</html>
{% endcomment %} {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Movie App | Movies</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'styles/css/create_movie.css' %}" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/bootstrap4/bootstrap.min.css' %}"
    />
  </head>
  <body>
    {% comment %} {% include 'nav.html' %} {% endcomment %}
    <div class="container">
      <br />
      <div class="movie-list-header">
        <form id="searchForm" method="get">
          <div
            style="
              display: flex;
              flex-direction: row;
              align-item: center;
              gap: 10px;
            "
          >
            <input
              type="text"
              required
              id="queryInput"
              name="query"
              class="form-control"
              placeholder="Enter your search query"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>

            <a class="btn btn-link" href="{%url 'movie_list'%}">clear</a>
          </div>
        </form>
        <a class="btn btn-link" href="{%url 'movie_list'%}">Home</a>
        <a class="btn btn-success" href="{%url 'admin_users'%}">All Users</a>
        <a class="btn btn-success" href="{%url 'admin_movies'%}">All Movies</a>
      </div>

      <br />
      <h1>Movie List ({{ users|length }})</h1>
      <br />

      <div class="row">
        {% if users %} {% for user in users %}
        <div class="col-md-3">
          <div class="card movie-card" style="height: 6rem">
            <div
              class="card-body"
              style="
                display: flex;
                flex-direction: column;
                align-item: center;
                justify-content: space-between;
              "
            >
              <h5 class="card-title">
                {{ user.first_name }} {{ user.last_name }}
              </h5>

              <a class="" href="{%url 'delete_user' id=user.id%}">Delete</a>
            </div>
          </div>
          <br />
        </div>
        {% endfor %} {% else %}
        <br />
        <br />
        <h4>Sorry ! No movies found.</h4>

        {% endif %}
      </div>
    </div>
  </body>
  <script>
    document
      .getElementById("searchForm")
      .addEventListener("submit", function (event) {
        var query = document.getElementById("queryInput").value;
        this.action = "/search_movies/" + encodeURIComponent(query) + "/";
      });
  </script>
</html>
